* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Crete Round', serif;
}

/* header || nav-bar */
body {
    background-color: #050A30;
}

#nav {
    background-color: #050A30;
}

#header .navbar-brand {
    color: #61e294;
}

#header .navbar-toggler {
    background-color: #61e294;
}

.offcanvas-header {
    background-color: #050A30;
}

.offcanvas-header:hover {
    border-bottom: 2px solid #61e294;
    cursor: pointer;

}

.offcanvas-header #offcanvasNavbarLabel {
    color: #61e294;
    font-weight: 700;
}

.offcanvas-header #btn-close {
    background-color: #61e294;
}

.offcanvas-body {
    background-color: #050A30;
}

.offcanvas-body .nav-item .nav-link {
    color: #61e294;
    font-weight: bold;
    text-align: center;
    font-size: 3vh;
}

.offcanvas-body .nav-item .nav-link:hover {
    color: #61e294;
    border-style: solid;
    border-color: #61e294;

}

/* main content */
#one {
    background-color: #050A30;
}

#main-content {
    margin: 4% 0 1%;
    padding-left: 3%;

}

#main-content .welcome {
    font-size: 8vh;
    color: #ffffff;
}

#main-content .welcome .what {
    color: #61e294;
}

#contact-btn-holder {
    margin: 0 0 2%;
    padding-left: 3%;
}

.person-image {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

#contact-btn {
    width: 70%;
    border: none;
    outline: 0.2px solid #61e294;
    color: #61e294;
    padding: 8px;
    border-radius: 1px;
    background: linear-gradient(to left, #050A30 50%, #61e294 50%) right;
    background-size: 200%;
    transition: .4s ease-out;
}

#contact-btn:hover {
    color: #050A30; 
    background-position: left;
}

/*portfolio section  */
#portfolio .desc-button{
    margin-right: 6%;

}
#portfolio .portfolio {
    font-size: 5vh;
    color: #61e294;
    padding: 2% 3% 0 2%;
}

.short-desc {
    color: #ffffff;
    padding-left: 2%;
    line-height: 1.8;
}
.short-desc a {
    color: #61e294;
    text-decoration: none;
}

#portfolio .desc-button a #more-btn {
    width: 210px;
    height: 7vh;
    border: none;
    background-color: transparent;
    outline: 0.2px solid #61e294;
    color: #7EC8E3;
    padding: 6px;
    border-radius: 1px;
    background: linear-gradient(to right, #050A30 50%, #61e294 50%) left;
    background-size: 200%;
    transition: .4s ease-out;
}
#portfolio .desc-button a #more-btn:hover{
    background-position: right;
    color: #050A30;
}
#project-1{
    padding: 2%;
    border-top: 2px solid #970c10;
    box-shadow: 0 3px 3px 2px rgba(0,0,0,0.7);
    width: 30%;
    
}
#project-1 h6{
    font-size: 2.5vh;
    color: #970c10;
    padding-bottom: 5px;

}
#project-2 h6{
    font-size: 2.5vh;
    color: #42b0f9;
    padding-bottom: 5px;

}
#project-3 h6{
    font-size: 2.5vh;
    color: #61e294;
    padding-bottom: 5px;

}
#project-1 h3,
#project-2 h3,
#project-3 h3,
#project-4 h3,
#project-5 h3,
#project-6 h3{
    font-size: 4vh;
    color: #ffffff;
}
#project-1 h3:hover,
#project-2 h3:hover,
#project-3 h3:hover,
#project-4 h3:hover,
#project-5 h3:hover,
#project-6 h3:hover{
    color: #61e294;
}

#project-1 p,
#project-2 p,
#project-3 p,
#project-4 p,
#project-5 p,
#project-6 p{
    font-size: 2.5vh;
    line-height: 2.0;
    color: #ffffff;
}
#project-2{
    padding: 2%;
    border-top: 2px solid #42b0f9;
    box-shadow: 0 3px 3px 2px rgba(0,0,0,0.7);
    width: 30%;
      
}
#project-3{
    padding: 2%;
    border-top: 2px solid #61e294;
    box-shadow: 0 3px 3px 2px rgba(0,0,0,0.7);
    width: 30%;
    
}
#row-2{
    margin-top: 2%;
}
#project-4{
    padding: 2%;
    border-top: 2px solid #fb3640;
    box-shadow: 0 3px 3px 2px rgba(0,0,0,0.7);
    width: 30%;

}
#project-4 h6{
    color: #fb3640;
}
#project-5{
    padding: 2%;
    border-top: 2px solid #54086b;
    box-shadow: 0 3px 3px 2px rgba(0,0,0,0.7);
    width: 30%;
}
#project-5 h6{
    color: #54086b;
}
#project-6{
    padding: 2%;
    border-top: 2px solid #f5928f;
    box-shadow: 0 3px 3px 2px rgba(0,0,0,0.7);
    width: 30%;
}
#project-6 h6{
    color: #f5928f;   
}

/* About me */
.about{
    color: #61e294;
}
.about-myself{
    color: #ffffff;
    line-height: 1.6;
}
.education-background{
    width: 30%;
    border-left: 2px solid #61e294;
    padding: 1% 3%;
    height: 50vh;
}
.education-background h3{
    border: 1px solid #61e294;
    text-align: center;
    color: #61e294;
    border-radius: 4px;
    font-size: 3vh;
    padding: 2%;
}
.education-background h4{
    font-size: 3vh;
    text-align: center;
    color: #d49ea0;
    border-bottom: 1px solid #61e294;
    padding: 1%;
}
.education-background .current{
    color: #ffffff;
    line-height: 1.6;
}
.about-me{
    text-decoration: none;
}
.about-me p{
    color: #61e294;
    text-align: center;
    font-size: 3.5vh;
    padding: 3%;
    
}
hr{
    border: 2px solid #54086b;
}




