@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lekton&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Chakra Petch', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Lekton', sans-serif;
    /* font-family: 'Fira Code', monospace; */
}

#main-container {
    height: 100vh;
    background-color: #1d1d1d;
}

#small-container {
    height: 80vh;
}


/* header || nav-bar */

#link-1,
#link-2,
#link-3,
#link-4 {
    color: #ffffff;
    font-size: 1.5vh;
    margin-left: 5px;
}

/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
    color: #a4ff91;
}

.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand:hover {
    color: #ffffff;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
    padding-top: auto;
    padding-bottom: auto;
}

.navbar-brand {
    font-size: unset;
    height: 3.5rem;
}

.nav-span {
    color: #a4ff91;
    margin-right: 2px;

}

.nav-item>.nav-link:hover {
    color: #a4ff91;
    margin-right: 2px;

}

#resume-btn {
    font-weight: 700;
    background-color: transparent;
    outline: 0.5px solid #a4ff91;
    border-radius: 4px;
    color: #ffffff;
    background: linear-gradient(to left, #1d1d1d 50%, #a4ff91 50%) right;
    background-size: 200%;
    transition: .4s ease-out;

}

#resume-btn:hover {
    background-position: left;
    color: #1d252c;

}

#main-card {
    background-color: transparent;
    background-color: #1d252c;

}

#profile-card {
    height: 70vh;

}

.background-gif {
    position: relative;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
  }
  
  .gif {
    position: relative;
    /* border-radius: 0% 0% 32% 28% / 10% 10% 40% 32%; */
    overflow: hidden;
  }
  
  .image {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 200px;
    width: 200px;
    /* background-color: #1d252c; */
    background-color: #003140;
    /* box-shadow: -10px 0 10px rgb(164, 255, 145); */
  } 
.image>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}