*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Crete Round', serif;
}
/* header || nav-bar */
body{
    background-color: #050A30;
}
#nav{
    background-color: #050A30;
}
#header .navbar-brand{
    color: #7EC8E3;
}
#header .navbar-toggler{
    background-color: #42b0f9;
}
.offcanvas-header{
    background-color: #050A30;
}
.offcanvas-header:hover{
    border-bottom: 2px solid #7EC8E3;
    cursor: pointer;

}
.offcanvas-header #offcanvasNavbarLabel{
    color: #7EC8E3;
    font-weight: 700;
}
.offcanvas-header #btn-close{
    background-color: #7EC8E3;
}
.offcanvas-body{
    background-color: #050A30;
}
.offcanvas-body .nav-item .nav-link{
    color: #7EC8E3;
    font-weight: bold;
    text-align: center;
    font-size: 3vh;
}
.offcanvas-body .nav-item .nav-link:hover{
    color: #7EC8E3;
    border-style: solid;
    border-color: #7EC8E3;

}

/* main content */
#one{
   background-color:  #050A30;
}
#main-content{
    margin: 4% 0 1%;
    padding-left: 3%;
    
}
#main-content .welcome{
    font-size: 8vh;
    color: #ffffff;
}
#main-content .welcome .what{
    color: #42b0f9;
}
#contact-btn-holder{
    margin: 0 0 2%;
    padding-left: 3%;
}
.person-image{
    width: 350px;
    height: 350px;
    border-radius: 50%;
}
#contact-btn{
    width: 70%;
    border: none;
    background-color: transparent;
    outline: 0.2px solid #7EC8E3;
    color: #7EC8E3;
    padding: 8px;
    border-radius: 1px;

    
}
#contact-btn:hover{
  background-color: #42b0f9;
  color: #050A30;



    
}
/*portfolio section  */
#portfolio .portfolio{
    font-size: 5vh;
    color: #42b0f9;
    padding:2% 3% 0 2%;
}
.short-desc{
    color: #ffffff;
    padding-left: 2%;
    line-height: 1.8;
}
#portfolio #more-btn{
    width: 15%;
    height: 7vh;
    border: none;
    background-color: transparent;
    outline: 0.2px solid #7EC8E3;
    color: #7EC8E3;
    padding: 6px;
    border-radius: 1px;
    margin-left: 2%;
}

